

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#styl1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-12 {
    text-align: center;
}

.col-sm-6 {
    margin-top: 10px;
}

.label-info {
    margin-left: 15px;
}
















